* {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: darkkhaki;
}
h1 {
  margin: 150px 0;
}
.odpoved {
  font-size: 25px;
  font-weight: bold;
  color: lavender;
  background-color: darkgrey;
}
